.container {
  display: grid;

  grid-template-areas:
    "header1 header1 header1"
    "aside header2 aside2"
    "aside main aside2"
    "aside footer aside2"
    "footer2 footer2 aside2";

  grid-template-columns: 30rem 1fr 30rem;
  grid-template-rows: 20rem 5rem auto calc(100vh - 90rem) 20rem;

  @media (max-width: 1200px) {
    grid-template-areas:
      "header1"
      "header2"
      "main"
      "footer";

    grid-template-columns: 1fr;
  }
}

.header1 {
  grid-area: header1;
  background-color: rgb(230, 229, 240);
}

.header2 {
  grid-area: header2;
  background-color: rgb(193, 224, 55);
}

.aside {
  grid-area: aside;
  background-color: rgb(7, 26, 194);
  
  @media (max-width: 1200px) {
    display: none;
  }
}

.aside2 {
  grid-area: aside2;
  background-color: rgb(216, 12, 39);
 

  @media (max-width: 1200px) {
    display: none;
  }
}

.footer {
  grid-area: footer;
  background-color: rgb(12, 221, 221);
}

.footer2 {
  grid-area: footer2;
  background-color: rgb(41, 202, 41);
 
}

.grid {
  /* height: 100vh; */
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 3rem;

  /* justify-content: center; */
  /* align-content: center; */
}

.card {
  background-color: var(--primary-dark);
  border-radius: 1rem;
  color: var(--primary-contrast-light);
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
  height: 20rem;
}
